PORT=5000
DB_URI=mongodb+srv://FlyTrip:flytripiamsujon@nextlevel.fdygipl.mongodb.net/FlyTrip?retryWrites=true&w=majority&appName=NextLevel
NODE_ENV=development


# JWT
JWT_ACCESS_SECRET=iamaccesstoken
JWT_ACCESS_EXPIRES=7d

JWT_REFRESH_SECRET=iamrefreshtoken
JWT_REFRESH_EXPIRES=30d


# BCRYPT
BCRYPT_SALT_ROUND=10


# SUPER_ADMIN
SUPER_ADMIN_EMAIL=super@gmail.com
SUPER_ADMIN_PASSWORD=admin


# GOOGLE
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_ID=613856339459-2air8b5mng3fudnkhmcp7eb6urpj2b26.apps.googleusercontent.com
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# EXPRESS SESSION
EXPRESS_SESSION_SECRET=express_session

# FRONTEND URL
FRONTEND_URL=http://localhost:5173